@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h ul{
    list-style: none;
    background-color: rgb(40, 99, 227);
}

#menu-h ul li{
    display: inline;
    
}

#menu-h ul li a{
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;    
}

#menu-h ul li a:hover{
    background-color: rgb(54, 150, 239);   
}

body {
    background-color: white;
}

p {
    font-size: xx-large;
    color:black;
}

